// Copyright (c) 2022 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52833_qiaa.dtsi>

/ {
	model = "NSLOG";
	compatible = "nooshee,nslog";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,shell-uart = &cdc_acm_uart0;
		nordic,pm-ext-flash = &is25wp032;

	};

	ioctl {
		compatible = "gpio-keys";
		// UI 
		btn_start_stop { gpios = <&gpio1 4 GPIO_ACTIVE_LOW>; }; // P1.04
		abp_int_0 { gpios = <&gpio0 27 GPIO_ACTIVE_LOW>; }; // P0.27
		abp_int_1 { gpios = <&gpio0 4 GPIO_ACTIVE_LOW>; }; // P0.04
		abp_int_2 { gpios = <&gpio0 11 GPIO_ACTIVE_LOW>; }; // P0.11
	};

    leds {
        compatible = "gpio-leds";
        led_g_on { gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; }; // P0.02
        led_r_on { gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>; }; // P0.18
        led_b_on { gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>; }; // P0.29
    };

};


&pinctrl {
	spi_psel:  spi_psel{group1 {psels = <NRF_PSEL(SPIM_MOSI, 0, 15)>,<NRF_PSEL(SPIM_MISO, 0, 17)>,<NRF_PSEL(SPIM_SCK, 0, 13)>;};};
	i2c_psel: i2c_psel{group1 {psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,<NRF_PSEL(TWIM_SCL, 1, 8)>;};};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
	interrupts = <6 NRF_DEFAULT_IRQ_PRIORITY>;
};

&usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay"; 

	
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};


&spi0 {
	status = "okay";
	compatible = "nordic,nrf-spi";
	pinctrl-0 = <&spi_psel>;
    pinctrl-1 = <&spi_psel>;
    pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;


	is25wp032: is25wp032@0 {
        compatible = "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <10000000>;
        size = <DT_SIZE_M(32)>;
        jedec-id = [9D 70 16];  
        status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
	
			external_flash: partition@0 {
				label = "storage";
				reg = <0x0 0x400000>;  // Define the size according to your storage needs
			};
		};


    };
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c_psel>;
	pinctrl-1 = <&i2c_psel>;
	pinctrl-names = "default", "sleep";

	bq25792: bq25792@6b 
	{
		compatible = "ti,bq25792";
		reg = <0x6b>;
		ce-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>; 
		irq-gpios = <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; 
		charge-ilim = <1000>; 
		input-ilim = <1000>; 
	};

	hsc0: hsc0@28
	{
		compatible = "honeywell,hsc";
		reg = <0x28>;
		sel0-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		sel1-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		id = <0>; 
	};

	hsc1: hsc1@28
	{
		compatible = "honeywell,hsc";
		reg = <0x28>;
		sel0-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		sel1-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		id = <1>; 
	};

	hsc2: hsc2@28
	{
		compatible = "honeywell,hsc";
		reg = <0x28>;
		sel0-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		sel1-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		id = <2>; 
	};
};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x3e000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x70000 0xa000>;
		};
	};
};
