# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_NSLOG=y


# Enable MPU
CONFIG_ARM_MPU=y
CONFIG_SERIAL=y


# Peripherals





# Make sure our expander is configured first as its needed for a few things. 
CONFIG_GPIO_AS_PINRESET=n #  





