# Sensor data simulator
#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SENSOR_PAA5100
	bool "PAA5100 mouse optical sensor"
	depends on SPI
	help
	  Enable PAA5100 mouse optical sensor.

if SENSOR_PAA5100

config SENSOR_PAA5100_CPI
	int "PAA5100's default CPI"
	default 1600
	range 100 12000
	help
	  Default CPI value.

config SENSOR_PAA5100_RUN_DOWNSHIFT_TIME_MS
	int "PAA5100's default RUN mode downshift time"
	default 500
	range 10 2550
	help
	  Default RUN mode downshift down time in milliseconds.
	  Time after which sensor goes from RUN to REST1 mode.

config SENSOR_PAA5100_REST1_DOWNSHIFT_TIME_MS
	int "PAA5100's default REST1 mode downshift time"
	default 9220
	range 320 81600
	help
	  Default REST1 mode downshift down time in milliseconds.
	  Time after which sensor goes from REST1 to REST2 mode.

config SENSOR_PAA5100_REST2_DOWNSHIFT_TIME_MS
	int "PAA5100's default REST2 mode downshift time"
	default 150000
	range 3200 816000
	help
	  Default REST2 mode downshift down time in milliseconds.
	  Time after which sensor goes from REST2 to REST3 mode.

choice
	prompt "Select PAA5100 sensor orientation"
	default SENSOR_PAA5100_ORIENTATION_0

config SENSOR_PAA5100_ORIENTATION_0
	bool "PAA5100 not rotated"

config SENSOR_PAA5100_ORIENTATION_90
	bool "PAA5100 rotated 90 deg clockwise"

config SENSOR_PAA5100_ORIENTATION_180
	bool "PAA5100 rotated 180 deg clockwise"

config SENSOR_PAA5100_ORIENTATION_270
	bool "PAA5100 rotated 270 deg clockwise"


endchoice

module = PAA5100
module-str = paa5100

source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #PAA5100
